body{
background-color: green;
}

.header{
width: 1000px; 
}

.logo{
width: 1000px;
}

.page {
	width: 1000px; 
	height: 900px;
	border: 1px #000 solid; 
	background-color: lightgrey; 
	margin: auto; 
	font-family: arial;
}

#menu ul, #steuerung ul{
list-style-type:none;
margin:0;
padding:0;
}

#menu li, #steuerung li{
display:inline;
}

#steuerung, #menu a:hover {
    background-color: green;
}

.menuTop{
width: 100%;
margin: auto;
text-align: center;
font-size:20px;
}

#menu a{
  text-decoration:none;
  color: black;
  padding: 10px;
  font-weight:bold;

}

.main {
width: 95%;
text-align: center;
}

#steuerung {
    background-color: lightgrey;
    width: 12em;
	height: 550px;
    float: left;
    margin:  auto;
}

#steuerung strong,
#steuerung a {
    text-decoration: none;
    display: block;
    padding: 6px 6px 6px 20px;
	color:#000;
}

.menuTop strong {
	background-color: green;
	padding: 6px 0 6px 0;
}

#steuerung strong {
    background: green;
}

#steuerung {
	margin: 0;
	padding: 0;
}

#contact {
	text-align: right;
	width: 75%;
}

.vor{
width: 100px;
margin: auto;
}

.spieltabelle, .spielplan, .zeiten{
	margin: auto;
}
