#wrapper { width: 90%; margin: auto; border: 1px #000 solid; }
#header { width: 100%; min-height: 50px; background-color: lightblue;  }
#body-left { width: 25%; min-height: 500px; float: left; }
#body-middle { width: 50%; min-height: 500px; background-color: #CC3333; float: left; }
#body-right { width: 25%; min-height: 500px; float: left; }
#text { width: 10%; height: 20%; background-color: #9966FF; float: right; margin: 50px 100px 0 0;}
#textNone { width: 10%; height: 20%; background-color: #9966FF; float: right; margin: 50px 100px 0 0; display:none;}
#footer { width: 100%; min-height: 50px; background-color: lightblue; clear: both; }