h1{
color:red;
}

h2{
color:red;
}

h1+h1, h1+h2{
background-color:silver;
}

div span{
color:blue;
}

div>span{
color:green;
}

#id1{
background-color:yellow;
}

.first{
background-color:cyan;
}

[id]{
background-color:black;
color:white;
}
